# build output
dist/
.vscode/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
pnpm-lock.yaml


# environment variables
.env
.env.production
*.cache



# macOS-specific files
.DS_Store

.firebase/*
.firebase/
.firebaserc
.firebase.json
