---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"button">
const props = Astro.props
---

<button type="submit" class="w-full p-4 text-white border rounded-md border-white/25 hover:border-white/75 hover:scale-105 active:scale-95 bg-black/75" {...props} >
    <slot>
</button>
