---
import Layout from "../../layouts/layout.astro";
import BlogCard from "../../components/Blog/BlogCard.astro";
import { getCollection } from "astro:content";
import BlogTitle from "../../components/Typo/BlogTitle.astro";
// import Pagination from "../../components/Pagination/Pagination.astro"

// const number = Astro.url.pathname.at(-1)
// const currPage = isNaN(Number(number)) ? 1 : Number(number)
// const blogPerPage = 5
// const startIndex = (currPage - 1) * blogPerPage;
// const endIndex = startIndex + blogPerPage;
// const totalPosts = allPosts.length
const allPosts =(await getCollection("blog")).filter(({data})=> data.isPublished)
const posts = allPosts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<Layout {...{}as any} >
	<section class="min-h-[80vh]" >
		<div class="flex flex-col gap-4 my-2 mb-6"> 
			<BlogTitle transition:name="title" >
				Blogs
			</BlogTitle>
		</div>
		<ul class="flex flex-wrap gap-8">
			{
				posts.map(({ slug, data: { heroImage, title, pubDate,description } },i) => (
					<BlogCard
					size={ i===0 ? "lg": "sm"  }
						{...({ heroImage, title, pubDate, slug ,description} as any)}
					/>
				))
			}
		</ul>
    <!-- <Pagination perPage={blogPerPage} total={totalPosts} /> -->
	</section>
</Layout>
