---
import Section from "../Section/Section.astro";
---

<Section id="home">
  <div class="flex flex-col items-center w-full ">
      <h1 class="animate-make-it-bigger supports-no-scroll-driven-animations:animate-none [animation-range:0px_70vh] [animation-timeline:scroll()] text-4xl md:text-6xl" >I`m Anmol</h1>
      <p class="
      animate-fade-out-down supports-no-scroll-driven-animations:animate-none [animation-range:0px_70vh] [animation-timeline:scroll()] 
      text-xl md:text-3xl text-center">Full-stack web developer and student</p>
  </div>
</Section>
