---
import Section from "../Section/Section.astro";
import Heading from "../Heading.astro";
import {Image } from "astro:assets"
import {projects} from "../../consts.ts"
---

<Section id="projects">
  <div class="flex flex-col gap-16">
    <Heading>Projects</Heading>
    <div class="flex flex-wrap gap-6">
      {
        projects.map(({ src, alt }) => (
          <div class="max-w-md p-2 border border-white ">
            <Image width={800} height={450} src={src} {...{ alt}}  />
          </div>
        ))
      }
    </div>
  </div>
</Section>
