---
import Section from "../Section/Section.astro";
import Heading from "../Heading.astro";
import { skills } from "../../consts";
import {Icon} from "astro-icon/components"
---

<Section id="skills">
  <div class="flex flex-col gap-16">
    <Heading>Skills</Heading>
    <div class="grid justify-between grid-cols-2 md:grid-cols-3 gap-y-8">
      { skills.map(({name,icon}) => (
            <span class="flex items-center gap-2 text-lg font-thin">
              <Icon name={icon} size={32}/>
              {name}
            </span>
        )) }
    </div>
  </div>
</Section>
