---
import FootLinks from "./Footer/FootLinks.astro";
---

<footer class="nav-container md:block bottom-0 p-2 pb-0 md:pb-2 bg-gradient-to-t from-black/25 via-black/10 to-transparent border-t">
  <nav class="flex items-center justify-between text-text theme-screen-w">
    <FootLinks/>
  </nav>
</footer>
