---
import FootLinks from "./Footer/FootLinks.astro";
---
<div class="md:block w-full !sticky !bottom-0 h-[7vh] items-center backdrop-blur-[2px] bg-gradient-to-t from-primary via-primary/75 to-transparent z-10 flex items-center justify-between shadow-md">
	<FootLinks />
</div>
