---
import FootLinks from "./Footer/FootLinks.astro";
---

<footer
  class="nav-container md:block bottom-0 p-2 pt-5 pb-0 md:pb-2 bg-gradient-to-t from-white to-transparent dark:from-black"
>
  <nav class="flex items-center justify-between text-text theme-screen-w">
    <FootLinks />
  </nav>
</footer>
