---
import FootLinks from "./Footer/FootLinks.astro";
---

<footer class="md:block w-full !sticky !bottom-0 p-2 pb-0 md:pb-2 backdrop-blur-sm bg-gradient-to-t from-black/25 via-black/10 to-transparent z-10 shadow-2xl">
  <nav class="flex items-center justify-between text-text max-w-screen-xl mx-auto">
    <FootLinks/>
  </nav>
</footer>

