---
import Links from "./Navbar/Links.astro"
import { NAME } from "../consts";
---

<header class="w-full h-[7.5vh] items-center sticky top-0 backdrop-blur-sm bg-gradient-to-t from-transparent via-primary/50 to-primary z-10 flex justify-between text-text " >
  <a href="/" class="px-4 text-xl w-fit">
    {NAME}
  </a>
  <Links />
</header>
