---
import FootLink from "./FootLink.astro";
import { EMAIL } from "../../config.ts"
import { footLinks } from "../../consts";
---

<div class="h-full flex flex-col z-[999] items-center justify-between w-full gap-4 mx-auto mb-4 sm:flex-row" >
    <div class="flex items-center gap-4">
        {footLinks.map(({ icon, href, text }) => (
            <FootLink {...{ icon, href, text }} />
        ))}
    </div>
    <a href=`mailto:${EMAIL}` target="_blank" >{EMAIL}</a>
</div>
