---
import { Icon } from "astro-icon/components"
type Props = {
    text: string;
    href: string;
    icon: any;
};
const { text, href, icon } = Astro.props;
---

<a href={href} aria-label={text} aria-labelledby={text} target="_blank">
  <Icon name={icon}  size={32}/>
</a>
