---
import ThemeRadio from "../Form/Radio/ThemeRadio.astro"
---

<form class="color-picker z-[20] fixed bottom-4 right-4 lg:bottom-14 lg:right-14" action="">
  <fieldset>
    <legend class="sr-only">Pick a color scheme</legend>
    <ThemeRadio id="latte" theme="light">Latte theme</ThemeRadio>
    <ThemeRadio id="frappe">Frappe theme</ThemeRadio>
    <ThemeRadio id="macchiato">Macchiato theme</ThemeRadio>
    <ThemeRadio checked id="mocha">Mocha theme</ThemeRadio>
  </fieldset>
</form>

    <script>
    const colorThemes = document.querySelectorAll('[name="theme"]');

    const storeTheme = (flavor: string, theme: "light" | "dark") => {
      localStorage.setItem("flavor", flavor);
      localStorage.setItem("theme", theme);
    }

    const setTheme = () => {
      const activeTheme = localStorage.getItem("theme") ?? "dark";
      colorThemes.forEach((themeOption: any) => {
        themeOption.checked = themeOption.id === activeTheme;
      });
      document.documentElement.className = activeTheme;
    };

    colorThemes.forEach((themeOption: any) => {
      themeOption.onclick =  () => {
        const flavor = themeOption.id ?? "mocha"
        const theme = themeOption.dataset.theme ?? "dark"
        storeTheme(flavor,theme);
        document.documentElement.className = theme
      };
    })

    document.onload = setTheme

    document.onload = (setTheme() as any)
  </script>
