---
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'input'> {
  theme?: "light" | "dark"
}

const { id, theme = "dark", ...props } = Astro.props
---

<label for={id} class="sr-only"><slot /></label>
<input data-theme={theme} {...props} id={id} type="radio" name="theme" class="cursor-pointer"  >
