@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
* {
  transition: all 0.2s ease-in-out;
}

/* primary - mantle */
/* secondary - mauve */
/* accent - rosewater */
/* text - text */

:root {
  --latte-primary: #e6e9ef;
  --frappe-primary: #292c3c;
  --mocha-primary: #181825;
  --macchiato-primary: #1e2030;

  --clr-primary: var(--latte-primary);
  --clr-secondary: #8839ef;
  --clr-accent: #502cdd;
  --clr-text: #181825;
}

:root:has(#latte:checked) {
  --clr-primary: var(--latte-primary);
  --clr-secondary: #8839ef;
  --clr-accent: #502cdd;
  --clr-text: #181825;
}

:root:has(#frappe:checked) {
  --clr-primary: var(--frappe-primary);
  --clr-secondary: #ca9ee6;
  --clr-accent: #f2d5cf;
  --clr-text: #c6d0f5;
}

:root:has(#macchiato:checked) {
  --clr-primary: var(--macchiato-primary);
  --clr-secondary: #c6a0f6;
  --clr-accent: #f4dbd6;
  --clr-text: #cad3f5;
}

:root:has(#mocha:checked) {
  --clr-primary: var(--mocha-primary);
  --clr-secondary: #cba6f7;
  --clr-text: #cdd6f4;
  --clr-accent: #f5e0dc;
}

body {
  @apply bg-primary text-text;
  font-family: "Rubik", sans-serif;
}
::selection {
  @apply bg-white/5 text-secondary;
}
a {
  @apply hover:text-secondary;
}
html {
  scroll-behavior: smooth;
}
/* .input-styles { */
/*   @apply w-full p-3 px-6 text-white border rounded-md outline-none placeholder:normal-case focus:outline-none border-white/25 focus:border-white/75 bg-primary/75; */
/* } */

::-webkit-scrollbar {
  height: 4px;
  width: 5px;
}
::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #000;
}

::-webkit-scrollbar-track:hover {
  background-color: #000;
}

::-webkit-scrollbar-track:active {
  background-color: #000;
}
::-webkit-scrollbar-thumb {
  border-radius: 24px;
  background-color: #fff;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #fff;
}
::-webkit-scrollbar-thumb:active {
  background-color: #fff;
}

.color-picker > fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: fit-content;
  background: #b4befe;
  padding: 1rem;
  border-radius: 2rem;
}

.color-picker input[type="radio"] {
  appearance: none;
  width: 1rem;
  height: 1rem;
  outline: 2px solid var(--radio-color, currentColor);
  outline-offset: 2px;
  border-radius: 50%;
}

.color-picker input[type="radio"]:checked {
  background-color: var(--radio-color);
}

.color-picker input[type="radio"]#latte {
  --radio-color: var(--latte-primary);
}
.color-picker input[type="radio"]#frappe {
  --radio-color: var(--frappe-primary);
}
.color-picker input[type="radio"]#macchiato {
  --radio-color: var(--macchiato-primary);
}
.color-picker input[type="radio"]#mocha {
  --radio-color: var(--mocha-primary);
}
