---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";

type Props = CollectionEntry<"blog">["data"];

const props = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<BaseHead {...props} image={props.heroImage} />
		<ViewTransitions />
	</head>
	<body class="max-w-screen-xl bg-primary text-white mx-auto">
		<Header/>
		<main class="p-4">
			<slot>
		</main>
		<Footer />
	</body>
</html> 
