---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ThemeSwitch from "../components/Footer/ThemeSwitch.astro";
import { ViewTransitions } from "astro:transitions";

type Props = CollectionEntry<"blog">["data"];

const props = Astro.props;
---

<!doctype html>
<html lang="en" class="light">
	<head>
		<BaseHead {...props} image={props.heroImage} />
		<ViewTransitions />
	</head>
	<body class=" bg-primary text-text ">
		<Header/>
		<main class="p-4 text-text max-w-screen-xl mx-auto">
			<slot>
		</main>
		<Footer />
    <ThemeSwitch />
	</body>
</html> 
